<h1>Manage Airports</h1>
<div>
  <button class="navigation-button" mat-button routerLink="/admin/airport/create">Add new Airport</button>

  <table mat-table matSort [dataSource]="airportData" class="mat-elevation-z8">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <!-- Checkbox or selection column content can go here -->
      </th>
      <td mat-cell *matCellDef="let row">
        <!-- Checkbox or selection column content can go here -->
      </td>
    </ng-container>

    <ng-container matColumnDef="airportId"> <!-- Changed "AirportId" to "airportId" -->
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.airportId }}</td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
      <td mat-cell *matCellDef="let element">{{ element.location }}</td>
    </ng-container>

    <ng-container matColumnDef="airportName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Airport Name</th>
      <td mat-cell *matCellDef="let element">{{ element.airportName }}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Action Edit</th>
      <td mat-cell *matCellDef="let element">
        <a style="color: blue;" [routerLink]="['/admin/airport/create', element]">Edit</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Action Delete</th>
      <td mat-cell *matCellDef="let element">
        <a style="color: red" (click)="deleteAirport(element.airportId)">Delete</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="airportColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: airportColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[25, 6, 10]" showFirstLastButtons></mat-paginator>
</div>
