<h1>Manage Flights</h1>
<div>
  <button
    class="navigation-button"
    mat-button
    routerLink="/admin/flights/create"
  >
    Add new Flight
  </button>

  <table mat-table matSort [dataSource]="flightsData" class="mat-elevation-z8">
    <ng-container matColumnDef="flightNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Flight Number</th>
      <td mat-cell *matCellDef="let element">{{ element.flightNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="departingAirportId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Departing Airport
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.departingAirport.airportName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="destinationAirportId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Destination Airport
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.destinationAirport.airportName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="aircraftId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Aircraft Type</th>
      <td mat-cell *matCellDef="let element">{{ element.aircraft.maker + " " + element.aircraft.model }}</td>
    </ng-container>

    <ng-container matColumnDef="departingTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Departing Time</th>
      <td mat-cell *matCellDef="let element">
        {{ element.departingTime | date }}
      </td>
    </ng-container>

    <ng-container matColumnDef="flightTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Flight Time</th>
      <td mat-cell *matCellDef="let element">
        {{ element.flightTime | date }}
      </td>
    </ng-container>

    <ng-container matColumnDef="flightCost">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Flight Cost</th>
      <td mat-cell *matCellDef="let element">{{ element.flightCost }}</td>
    </ng-container>

    

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <a style="color: blue" [routerLink]="['/admin/flights/create', element]"
          >Edit</a
        >
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <a style="color: red" (click)="deleteFlight(element.flightNumber)"
          >Delete</a
        >
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="flightsColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: flightsColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[3, 6, 10]"
    showFirstLastButtons
  ></mat-paginator>
</div>
