<div class="content-wrapper">
  <div id="navigation-bar">
    <img src="../assets/images/watery_logo.png" id="watery_logo">
    <span class="spacer"></span>
    <div>
      <div>
          <a routerLink="/">Home</a>
      </div>
    </div>
    <div>
      <div>
          <a routerLink="/login">Log In</a>
      </div>
    </div>
    <div>
      <div>
          <a routerLink="/flights">Flights</a>
      </div>
    </div>
    <div>
      <div>
          <a routerLink="/check-in">Check In</a>
      </div>
    </div>
    <div>
      <div>
          <a  routerLink="/user">My Profile</a>
      </div>
    </div>
    <div>
      <div>
          <a  routerLink="/contact">Contact</a>
      </div>
    </div>
    <div>
      <div>
          <a  routerLink="/aircraft">Aircrafts</a>
      </div>
    </div>
    <div>
      <div>
          <a  routerLink="/admin">Admin</a>
      </div>
    </div>
    <div>
      <div>
          <a  routerLink="/booking/7">Book Flight</a>
      </div>
    </div>
  </div>
  
  <router-outlet></router-outlet>
</div>
