:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  margin: 0;
}

#watery_logo{
  width: 200px;
  height: 70px;
}

#navigation-bar {
	position: fixed;
	left:0;
	top:0;
	width: 100%;
	height: 70px;
	background-color: #0a4c6b;
	display: flex;
       align-items: center;
    z-index: 99;
}

#navigation-bar div {
	height: 60px;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
       align-items: center;
	font-family: 'FrizQuadrataRegular';
}

#navigation-bar div div {
	height: 20px;
	border-radius: 5px;
	padding-top: 1px;
	padding-bottom: 3px;
	font-family: 'FrizQuadrataRegular';
}

a{
		text-decoration: none;
    font-weight: bold;
		color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#navigation-bar div:hover {
	border-bottom: 5px solid #b1922d;
}

#navigation-bar div:hover div {
	background-color: black;
	margin-bottom: -7px;
	border-bottom: black;
}


.content-wrapper {
  display: flex;
  flex-direction: column ;
  flex-grow: 1;
}
 
.spacer {
    flex: 1 1 auto;
}

.app-footer {
  top: 100%;
  position: static;
}
