:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navigation-button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 8px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px;
    width: 100px;
    box-shadow: rgba(183, 2, 228, 0.2) 0 -25px 18px -14px inset,rgba(161, 17, 228, 0.15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(146, 44, 187, 0.15) 0 8px 16px,rgba(170, 19, 207, 0.15) 0 16px 32px;
    text-decoration: none;
  }
 
.navigation-button:hover {
    background-color: #f1f1f1;
    
}
 
.mat-toolbar {
    background-color: #673ab7;
    display: flex;
    align-items: center;
    border-radius: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    opacity: 0.9;
    box-shadow:  3px 3px 10px 2px rgba(73, 73, 73, 0.5);
    position: fixed;
    z-index: 1000;
    width: 99%;
}
 
.app-title {
    color: #fff;
    flex: 1;
}
 
.spacer {
    flex: 1 1 auto;
}

footer {
  position: relative;
  background-color: #673ab7;
  padding: 1rem;
  text-align: center;
  width: auto; 
  bottom: 0;
  z-index: 10;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

footer nav a {
  margin: 0 1rem;
  color: #007bff;
  text-decoration: none;
}

footer nav a:hover {
  text-decoration: underline;
}
 
 
.copyright-text {
    color: #fff;
}