.mat-elevation-z8 {
  box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

.table-container {
  width: 100%;
  margin: 25px 0;
  font-size: 18px;
  text-align: left;
  background-color: #f9f9ff;
  border: 2px solid #1072a0;
  border-radius: 12px;
  padding: 15px;
  margin-top: 100px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

th, td {
  padding: 15px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

th {
  background: #0a4c6b;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

tr {
  background-color: #94abc5;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

tr:hover {
  background-color: #66818d;
  cursor: pointer;
}

td {
  border-bottom: 1px solid #85abbd;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

th:first-child, td:first-child {
  border-left: 5px solid #0a4c6b;
}

th:last-child, td:last-child {
  border-right: 5px solid #0a4c6b;
}

th, td {
  border-right: 1px solid #ddd;
}

th:last-child, td:last-child {
  border-right: none;
}
