<div class="title-table">
  <mat-toolbar>
    <span>Table Of Tickets</span>
  </mat-toolbar>
</div>

<div>
  <form>
    <mat-form-field class="search-bar-field">
    <mat-label class="search-bar-label">Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. John Doe" [formControl]="filterControl">
    </mat-form-field>
  </form>
</div>

<table mat-table [dataSource]="filteredTicketsItems" matSort class="mat-elevation-z8">
  <!-- Ticked Id Column -->
  <ng-container matColumnDef="tickedId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ticked Id</th>
    <td mat-cell *matCellDef="let element">{{ element.ticketId }}</td>
  </ng-container>

  <!-- Flight Number Column -->
  <ng-container matColumnDef="flight.flightNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Flight Number</th>
    <td mat-cell *matCellDef="let element">{{ element.flight.flightNumber }}</td>
  </ng-container>

  <!-- Departing Airport Column -->
  <ng-container matColumnDef="flight.departingAirport.airportName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Departing Airport</th>
    <td mat-cell *matCellDef="let element">{{ element.flight.departingAirport.airportName }}</td>
  </ng-container>

  <!-- Destination Airport Column -->
  <ng-container matColumnDef="flight.destinationAirport.airportName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Destination Airport</th>
    <td mat-cell *matCellDef="let element">{{ element.flight.destinationAirport.airportName }}</td>
  </ng-container>

  <!-- Departing Time Column -->
  <ng-container matColumnDef="flight.departingTime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Departing Time</th>
    <td mat-cell *matCellDef="let element">{{ element.flight.departingTime }}</td>
  </ng-container>

  <!-- Flight Time Column -->
  <ng-container matColumnDef="flight.flightTime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Flight Time</th>
    <td mat-cell *matCellDef="let element">{{ element.flight.flightTime }} hours</td>
  </ng-container>

  <!-- Flight Cost Column -->
  <ng-container matColumnDef="flight.flightCost">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Flight Cost</th>
    <td mat-cell *matCellDef="let element">
      Original: {{ element.flight.flightCost | currency }}<br>
      <div *ngIf="element.flight.discountOffer">
        Discount: {{ element.flight.discountOffer.discountPercentage }}%<br>
        New Price: {{
          (element.flight.flightCost - (element.flight.flightCost * element.flight.discountOffer.discountPercentage / 100))
          | currency
        }}<br>
      </div>
      Price On Ticket: {{ element.price }}<br>
    </td>
  </ng-container>

  <!-- Passenger Column -->
  <ng-container matColumnDef="passager">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Passenger</th>
    <td mat-cell *matCellDef="let element">
      {{ element.passenger.name }}<br>
      {{ element.passenger.emailAddress }}
    </td>
  </ng-container>

  <!-- Check In Column -->
  <ng-container matColumnDef="checkIn">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>CheckIn</th>
    <td mat-cell *matCellDef="let element">{{ element.checkInId ? 'Done.' : 'Not done.' }}</td>
  </ng-container>

  <!-- Luggage Column -->
  <ng-container matColumnDef="luggage">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Luggage</th>
    <td mat-cell *matCellDef="let element">{{ element.luggage ? 'YES' : 'NO' }}</td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
      <a style="color: red; cursor: pointer;" (click)="deleteTicket(element.ticketId)"
        >Delete</a
      >
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="ticketsColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: ticketsColumns"></tr>
</table>
<mat-paginator [pageSizeOptions]="[3, 6, 9, 12, 15, 21]" [pageSize]="" showFirstLastButtons></mat-paginator>
