<h1>Manage tickets</h1>
<div>
  <form>
    <mat-form-field class="search-bar-field">
    <mat-label class="search-bar-label">Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. John Doe" [formControl]="filterControl">
    </mat-form-field>
  </form>
</div>

<table
  mat-table matSort
  [dataSource]="ticketsData"
  class="mat-elevation-z8"
>
  <!-- Ticket Id Column -->
  <ng-container matColumnDef="ticketId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.ticketId }}</td>
  </ng-container>

  <!-- Flight Number Column -->
  <ng-container matColumnDef="flight.flightNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Flight number</th>
    <td mat-cell *matCellDef="let element">{{ element.flight.flightNumber }}</td>
  </ng-container>

  <!-- Departing Airport Column -->
  <ng-container matColumnDef="flight.departingAirport.airportName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Departing airport</th>
    <td mat-cell *matCellDef="let element">{{ element.flight.departingAirport.airportName }}</td>
  </ng-container>

  <!-- Destination Airport Column -->
  <ng-container matColumnDef="flight.destinationAirport.airportName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Destination airport</th>
    <td mat-cell *matCellDef="let element">{{ element.flight.destinationAirport.airportName }}</td>
  </ng-container>

  <!-- Departing Time Column -->
  <ng-container matColumnDef="flight.departingTime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Departing time</th>
    <td mat-cell *matCellDef="let element">{{ element.flight.departingTime }}</td>
  </ng-container>

  <!-- Flight Time Column -->
  <ng-container matColumnDef="flight.flightTime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Flight time</th>
    <td mat-cell *matCellDef="let element">{{ element.flight.flightTime }} minutes</td>
  </ng-container>

  <!-- Flight Cost Column -->
  <ng-container matColumnDef="flight.flightCost">
    <th mat-header-cell *matHeaderCellDef>Flight cost</th>
    <td mat-cell *matCellDef="let element">
      Original: {{ element.flight.flightCost | currency }}<br>
      <div *ngIf="element.flight.discountOffer" style="margin-top: 1px;">
        Discount: {{ element.flight.discountOffer.discountPercentage }}%<br>
      </div>
      Payed: {{ element.price | currency }}<br>
    </td>
  </ng-container>

  <!-- Passenger Column -->
  <ng-container matColumnDef="passenger">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Passenger</th>
    <td mat-cell *matCellDef="let element">
      {{ element.passenger.name }}<br>
      {{ element.passenger.emailAddress }}
    </td>
  </ng-container>

  <!-- Check In Column -->
  <ng-container matColumnDef="checkIn">
    <th mat-header-cell *matHeaderCellDef>CheckIn</th>
    <td mat-cell *matCellDef="let element">{{ element.checkInId ? 'Done.' : 'Not done.' }}</td>
  </ng-container>

  <!-- Luggage Column -->
  <ng-container matColumnDef="luggage">
    <th mat-header-cell *matHeaderCellDef>Luggage</th>
    <td mat-cell *matCellDef="let element">{{ element.luggage ? 'YES' : 'NO' }}</td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
      <button class="delete-button" (click)="deleteTicket(element.ticketId)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="ticketsColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: ticketsColumns"></tr>
</table>
<mat-paginator [pageSizeOptions]="[25, 50, 5, 15]" showFirstLastButtons></mat-paginator>
