<div class="container">
  <form [formGroup]="registerForm!" (ngSubmit)="onSubmit()" class="form-container">
    <h1>Register</h1>
    <mat-form-field appearance="outline">
      <mat-label>Full name:</mat-label>
      <input
        matInput
        placeholder="Full name"
        formControlName="name"
        type="text"
        required
      />
      <mat-error *ngIf="hasError('name', 'required')">Full name is required!</mat-error>
    </mat-form-field>

    <mat-form-field appearance ="outline">
        <mat-label>Email:</mat-label>
        <input
          matInput
          placeholder="E-mail address"
          formControlName="emailAddress"
          type="text"
          required
        />
        <mat-error *ngIf="hasError('emailAddress', 'required')">E-mail is required!</mat-error>
    </mat-form-field>

    <mat-label style="margin-left: -110px; margin-bottom:-12px; z-index:99; background-color: #F9F9F9; color:#44474e">Password:</mat-label>
    <p-password 
      formControlName="password" 
      promptLabel="Choose a password"
      weakLabel="Too simple" 
      mediumLabel="Average complexity" 
      strongLabel="Complex password"
    ></p-password>


    <button mat-raised-button color="primary" type="submit" class="register_button">Register</button>

    <p style="text-align: center; margin-top:10px;">Already have an account? <a routerLink="/login" class="navigate-link">Log-in here!</a></p>
  </form>

  <div class = "airplane_animation">
    <img src="../../../assets/images/airplane_draw.png" class ="airplane_image">
  </div>
</div>
