<div class="title-table">
  <mat-toolbar>
    <span>Book Your Flight</span>
    <button class="navigation-button" mat-button routerLink="/tickets">Tickets Table</button>
  </mat-toolbar>
</div>

<div class="booking-container">
  <form (ngSubmit)="onSubmit()" #bookingForm="ngForm">
    <div class="form-group" *ngIf="ticket">
      <label class="form-label">Flight to {{ticket.flight.destinationAirport.location}}</label>
      <span class="form-value">Flight Number: {{ ticket.flight.flightNumber }}</span>
      <span class="form-value">Departing from: {{ ticket.flight.departingAirport.airportName }}</span>
      <span class="form-value">Departing on: {{ ticket.flight.departingTime | date: 'dd/MM/yyyy hh:mm a'}}</span>
      <span class="form-value">Flying to: {{ ticket.flight.destinationAirport.airportName }}</span>
    </div>

    <!--<div class="form-group" *ngIf="ticket?.passager">-->
    <div class="form-group" *ngIf="1">
      <label class="form-label">Passenger</label>
      <span class="form-value">{{ ticket.passager.name }}</span>
      <span class="form-value">{{ ticket.passager.emailAddress }}</span>
    </div>

    <div class="form-group">
      <label class="form-label">Check-In</label>
      <span class="form-value">Status: {{ ticket.checkIn? 'Done' : 'Not done' }}</span>
    </div>

    <div class="form-group">
      <label class="form-label">Luggage</label>
      <mat-select class="form-value" [(ngModel)]="ticket.luggage" name="luggage">
        <mat-option [value]="true">Yes</mat-option>
        <mat-option [value]="false">No</mat-option>
      </mat-select>
    </div>

    <div class="form-group">
      <label class="form-label">Price</label>
      <span class="form-value">Initial price: {{ ticket.flight.flightCost| currency }}</span>
      <span class="form-value">Discount offer: {{ ticket.flight.discountOffer.discountPercentage}}%</span>
      <span class="form-value">Paying price: {{ ticket.price | currency }}</span>
    </div>

    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit" class="styled-button">Book Flight</button>
      <button mat-raised-button color="warn" type="button" class="styled-button" (click)="goBack()">Go Back</button>
    </div>
  </form>
</div>
