.container{
  position: absolute;
  width: auto;
  align-items: center;
  place-self: center;
  vertical-align: middle;
  top: 15%;
  min-width: 100%;
}

.booking-page-title{
  text-align: center;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 20px;
}

.booking-page-description{
  text-align: center;
  font-size: 15px;
  line-height: 18px;
  font-weight: 100;
  color: #adb5bd;
  margin-bottom: 20px;
}

.booking-page-container{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.booking-page-image-top{
  height: 400px;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
}

.booking-page-image-bottom{
  height: 400px;
  margin-bottom: 10px;
  position: absolute;
  top: 330px;
  left: 300px;
}

.images-section{
  position: relative;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.booking-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px;
  max-width: 600px;
  width: 600px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-label {
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-values {
  display: flex;
  flex-direction: column;
  width: 550px;
}

.form-value {
  margin: 5px 0;
  background-color: #e9ecef;
  font-size: 15px;
  border-radius: 10px;
  padding: 3px;
}

.flight-info-container{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.form-flight-number{
  background-color: transparent;
  color: #adb5bd;
  font-size: 15px;
  font-weight: 100;
}

.form-departure-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  flex: 1;
  text-align: center;
}

.form-line-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 1;
}

.dotted-line {
  border: none;
  border-top: 1px dotted #0a4c6b;
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 50%;
}

.form-airplane {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px; 
  color: #000; 
  background: #fff; 
  padding: 0 10px; 
  color: #0a4c6b;
}

.form-departing{
  text-align: center;
}

.check-in-info{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5px;
  flex-wrap: wrap;
}

.paying-info{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5px;
  flex-wrap: wrap;
}

.final-price{
  text-align: center;
  font-size: 15px;
  color: #0a4c6b;
  font-weight: 400;
}

.form-actions {
  display: flex;
  justify-content: space-between;
}

.form-select {
  width: 100%;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.styled-button {
  background-color: #0a4c6b!important;
  min-width: 100px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 20px;
  color: #fff !important;
  z-index: 0 !important;
}
.styled-button:hover{
  background-color: #0a4c6b!important;
  transform: scale(1.1);
}

.navigation-button {
  background-color: #fff!important;
  color: #000;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 16px;
}

.navigation-button:hover {
  background-color: #f1f1f1;
}

.reveal{
  transform: translateY(100px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

app-footer{
  top: 100%;
}
