
<div class="flights-container">
  <ng-container *ngIf="!noFlightsAvailable; else noFlightsTemplate">
   
    <ng-container *ngFor="let flightItem of flights; trackBy: trackByFlightNumber">
      <app-flight [flightItem]="flightItem"></app-flight>
      <div class="flight-pricing"></div>
    </ng-container>
  </ng-container>
  <ng-template #noFlightsTemplate>
    <div class="no-flights-message">
      <div>
        <h3 class="booking-page-title">NO FLIGHTS AVAILABLE FOR SELECTED DATE.</h3>
        <h5 class="booking-page-description">It looks like there aren't any available flights for the selected date. Please try another date or destination.</h5>
        <h5 class="booking-page-description">Thank you, dear customer!</h5>
        <div class="images-section">
          <img src="../../../assets/images/airplane-booking.png" class="booking-page-image-top">
        </div>
      </div>
    </div>
  </ng-template>
  <app-footer></app-footer>
</div>
