.flights-container {
    position: fixed;
    /* margin-top: 80px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 100px;
    background-color: #e5e5e5;
}