
.flights-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 100px;
    background-color: #e5e5e5;
    margin-bottom: 70px;

}
.booking-page-title{
    text-align: center;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 20px;
  }
  
  .booking-page-description{
    text-align: center;
    font-size: 15px;
    line-height: 18px;
    font-weight: 100;
    color: #686d71;
    margin-bottom: 20px;
  }
  .images-section{
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }

  .flights-header {
    margin-left: 100px;
  }

