#container{
  display: flex;
  flex-direction: column;
}

#title{
  font-size: 38px;
  font-weight: bold;
  margin-top:100px;
  align-self: center;
}

#user-profile{
  display:flex;
  flex-direction: row;
  padding:15px;
  width: 100%;
}

#user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  margin: 50px;
  padding: 20px;
}

#button-wrapper{
  width:fit-content;
}

.form-button{
  width:100px;
}

mat-form-field {
  margin-bottom: 10px;
}

:host ::ng-deep .p-password input {
  margin-bottom: 40px;
  width: 210px;
  height: 40px;
  margin-bottom: 60px;
}

:host ::ng-deep .p-password-panel .p-password-meter .p-password-strength.weak {
  background: #D32F2F;
}

:host ::ng-deep .p-password-panel .p-password-meter .p-password-strength.medium {
  background: #FBC02D;
}

:host ::ng-deep .p-password-panel .p-password-meter .p-password-strength.strong {
  background: #689F38;
}



.ticket-card {
  margin: 20px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ticket-card mat-card-header {
  background-color: #f5f5f5;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.ticket-card mat-card-title {
  font-size: 1.2em;
  font-weight: bold;
}

.ticket-card mat-card-subtitle {
  font-size: 1em;
  color: #888;
}

.ticket-card mat-card-content {
  margin-top: 10px;
}

