<div class="main-container">
    <div class="user-info">
      <span class="info-title">User ID:</span>
      <span class="info-content">[UserID]</span>
    </div>
    <div class="user-info">
      <span class="info-title">Name:</span>
      <span class="info-content">[UserName]</span>
    </div>
    <div class="user-info">
      <span class="info-title">Role:</span>
      <span class="info-content">[UserRole]</span>
    </div>
    <div class="user-info">
      <span class="info-title">Email:</span>
      <span class="info-content">[UserEmail]</span>
    </div>
    <div class="user-info">
      <span class="info-title">Tickets:</span>
      <span class="info-content">[UserTickets]</span>
    </div>

    <button class="edit-btn">Edit</button>

</div>
<app-footer></app-footer>
 