.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
  border-radius: 8px; 
  margin-top: 200px;
}
  
  .user-info {
    margin: 10px 0;
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .info-title {
    font-weight: bold;
    margin-bottom: 5px; 
  }
  
  .edit-btn {
    padding: 10px 20px;
    background-color: #1c629b;

    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;

    width: 200px;
  }
  
  .edit-btn:hover {
    background-color: #1c3586;
  }
  
