<div id="container">
<div id="title">YOUR PROFILE</div>
<div id="user-profile">
  <form [formGroup]="userForm" id="user-form">
       <mat-form-field appearance="outline">
        <mat-label>Full name:</mat-label>
        <input
        matInput
        formControlName="name"
        [readonly]="!isEditing"
        type="text"
        required
      />
      <mat-error *ngIf="hasError('name', 'required')">Full name is required!</mat-error>
       </mat-form-field>

       <mat-form-field appearance="outline">
        <mat-label>E-mail:</mat-label>
        <input
        matInput
        formControlName="email"
        [readonly]="!isEditing"
        type="text"
        required
      />
      <mat-error *ngIf="hasError('email', 'required')">Email is required!</mat-error>
       </mat-form-field>

      <mat-label id="labelPass" style="margin-left: -110px; margin-bottom:-12px; z-index:99; background-color: #F9F9F9; color:#44474e" *ngIf="isEditing">Password:</mat-label>
       <p-password 
      formControlName="password" 
      promptLabel="Change password? Type new password here"
      weakLabel="Too simple" 
      mediumLabel="Average complexity" 
      strongLabel="Complex password"
      *ngIf="isEditing"
    ></p-password>
      
  <div class="button-wrapper">
    <button mat-raised-button class="formButton" style="font-size: 1.3em;" *ngIf="!isEditing" (click)="toggleEdit()">Edit Profile</button>
    <button mat-raised-button class="formButton" style="font-size: 1.3em; margin-right: 50px;" *ngIf="isEditing"  (click)="saveProfile()">Save</button>
    <button mat-raised-button class="formButton" style="font-size: 1.3em;" *ngIf="isEditing"  (click)="toggleEdit()">Cancel</button>
  </div>

  </form>
    <div id ="notickets-container" *ngIf="userTickets.length==0" style="font-size: 2.5em;">No tickets.</div>
    <div class="tickets-container" >
      <button *ngIf="userTickets.length>0" style ="width:40px" class="carousel-control-prev"   (click)="prevSlide()"><img style ="width:70px" src="../../../assets/images/left_arrow.png"></button>
      <div class="carousel">
        
        <div class="carousel-inner" [style.transform]="getTransform()">
          <mat-card *ngFor="let ticket of userTickets" class="ticket-card">
            <mat-card-header>
              <mat-card-title>Ticket ID: {{ ticket.ticketId }}</mat-card-title>
              <mat-card-subtitle>Flight ID: {{ ticket.flightId }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p><strong>From:</strong> {{ticket.flight.departingAirport.airportName}}</p>
              <p><strong>To:</strong>{{ticket.flight.destinationAirport.airportName}}</p>
              <p><strong>Departing Time:</strong> {{ ticket.flight.departingTime | date:'short' }}</p>
              <p><strong>Flight Time:</strong> {{ ticket.flight.flightTime | formatFlightTime }}</p>
              <p *ngIf="ticket.checkInId"><strong>Check-In ID:</strong> {{ ticket.checkInId }}</p>
              <p><strong>Luggage:</strong> {{ ticket.luggage ? 'Yes' : 'No' }}</p>
              <p><strong>Price:</strong> {{ ticket.price | currency }}</p>
            </mat-card-content>
          </mat-card>
        </div>
        <br>
       
      </div>

      <button *ngIf="userTickets.length>0"  style ="width:40px" class="carousel-control-next"  (click)="nextSlide()"><img style ="width:70px" src="../../../assets/images/right_arrow.png"></button> 

    </div>

  </div>
</div>

