/* General Page Styles */
.contact-page {
  position: relative;
  width: 100%;
  display: flex;
  align-items: stretch; 
  justify-content: center;
  background: linear-gradient(to right, #e0f7fa, #ffffff);
}

.contact-container {
  display: flex;
  width: 100%; 
  height: 100vh;
  margin: auto;
  overflow: hidden;
}

.contact-info, .contact-image {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.contact-info {
  padding: 100px 25px 25px 25px;
  overflow-y: auto;
  background-color: #f5f5f5;
  -ms-overflow-style: none;  
  scrollbar-width: none;
}

.contact-image img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@media (max-width: 900px) {
  .contact-container {
    flex-direction: column;
    height: auto; 
  }

  .contact-info, .contact-image {
    width: 100%; 
  }
}

.left-label {
  font-weight: 600;
  color: #0a4c6b;
}

.contact-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 94%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 40px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.contact-data:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
}

.map-container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.map-container:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
}

.contact-info::-webkit-scrollbar {
  display: none;
}

.contact-info h1 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #0a4c6b;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.contact-info p {
  font-size: 18px;
  margin-bottom: 15px;
  color: #333;
}

@media (max-width: 600px) {
  .contact-info h1 {
    font-size: 28px;
  }

  .contact-info p {
    font-size: 16px;
  }
}
