<div class="flight-container">
  <div class="flight-info">
    <div class="flex">
      <div class="flight-date">03 mar 2024</div>
      <div class="airplane-type">Boeing 704</div>
    </div>
    <div class="flex">
      <div class="flight-time">12:30</div>
      <div class="flight-time">13:30</div>
    </div>
    <div class="flex">
      <div class="flight-airport">Cluj</div>
      <div class="flight-airport">Viena</div>
    </div>
    <div class="flight-number">Flight number: A2043</div>
  </div>
  <div class="flight-prices">
    <div class="price-wrapper">
      <div class="normal-price">
        <div class="price-type">Normal price</div>
        <div class="price">230$</div>
        <button type="button" class="btn">Select</button>
      </div>
    </div>
    <div class="price-wrapper">
      <div class="discount-price">
        <div class="price-type">Discount Price</div>
        <div class="price discount">200$</div>
        <button type="button" class="btn">Select</button>
      </div>
    </div>
  </div>
</div>
