<div class="flight-container">
  <div class="flight-info">
    <div class="flex">
      <div class="flight-date">
        {{ flightItem.departingTime | date: 'longDate' }}
      </div>
      <div class="airplane-type">
        {{ flightItem.aircraft.maker }} {{ flightItem.aircraft.model }}
      </div>
    </div>

    <div class="flight-details margin-top">
      <div class="flight-departure">
        <div class="flight-time">
          {{ flightItem.departingTime | date: 'HH:mm' }}
        </div>
        <div class="flight-airport">
          <mat-icon aria-hidden="false" aria-label="Takeoff airplane icon" fontIcon="flight_takeoff"></mat-icon>
          {{ flightItem.departingAirport.location }}
        </div>
      </div>

      <div class="flight-icons">
        <div class="flight-duration">
          <mat-icon aria-hidden="false" aria-label="Airplane icon" fontIcon="flight" class="flight-icon"></mat-icon>
        </div>
        <div class="flight-duration-time">
          {{ flightItem.flightTime | formatFlightTime }}
        </div>
      </div>

      <div class="flight-arrival">
        <div class="flight-time">
          {{
            flightItem.departingTime
              | arrival : flightItem.flightTime
              | date: 'HH:mm'
          }}
        </div>
        <div class="flight-airport">
          <mat-icon aria-hidden="false" aria-label="Arriving airplane icon" fontIcon="flight_land"></mat-icon>
          {{ flightItem.destinationAirport.location }}
        </div>
      </div>
    </div>

    <div class="flight-number margin-top">
      Flight number: {{ flightItem.flightNumber }}
    </div>
  </div>

  <div class="flight-prices">
    <div class="price-wrapper">
      <div class="normal-price" [class.discounted]="flightItem.discountOffer && isDiscountValid(flightItem.discountOffer)">
        <div class="price-type">Normal price</div>
        <div class="price">{{ flightItem.flightCost | currency }}</div>
      </div>
      <div *ngIf="flightItem.discountOffer && isDiscountValid(flightItem.discountOffer)" class="discounted-price">
        <div class="price-type">Discounted price</div>
        <div class="price" >
          {{ discountedPrice | currency }}
        </div>
        <div class="discount-dates">
          Available until {{  flightItem.discountOffer.endDate | date: 'd MMMM, y' }}
        </div>
      </div>
      <button type="button" style="margin-bottom: 15px" class="btn" (click)="goToBooking()">Book Flight</button>
    </div>
  </div>
</div>
