<div class="row">
  <div class="contentWrapper">
    <div class="patrat">
      <span class="textWrapper">
        <span class="line"></span>
        <span class="text">Get on board</span>
      </span>
      <h2>Ready to check-in?</h2>
      <p>
        You can check in any time from 30 hours before your flight's departure (24
        hours for flights to or from the United States). Please select how you
        would like to check in.
      </p>
      <ul>
        <li>Check in, change, and rebook flights with ease</li>
        <li>Get all your travel info in 1 convenient place</li>
        <li>Store your details for safe and speedy bookings</li>
      </ul>
         <button mat-raised-button color="primary">Check in with my account</button>
         <p>
          Don't have an account? Sign up for a free account and enjoy all benefits!
          <br><button mat-raised-button color="primary">Sign up!</button>
        </p>    
    </div>
  </div>
  <div class="imgWrapper">
    <img src="../../../assets/images/cover.jpg" alt="Background Image" />
  </div>
</div>

<div class="check-in-list">
  <h2>Check-ins effectuated</h2>
  <ul>
    <li *ngFor="let element of checkInItems">
      {{ element.ticketId }} - {{ element.passengerName }} - {{ getDocumentTypeLabel(element.idDocumentType) }} - {{ element.documentData }} - {{ element.passengerEmail }}
      <button (click)="editCheckIn(element)">Edit</button>
    </li>
  </ul>
</div>




<p>Form status: {{ form.status }}</p>
<div class="options">
  <h2>Possibilities for Check-IN</h2>
  <div class="header" (click)="toggleContent('online')">Online Check-in</div>
  
<div class="content" [ngClass]="{ show: isOnlineContentVisible }">
  <div class="info-form-container">
    <div class="info-container">
      <p>
        To reduce costs and keep our fares cheap, we offer free online check-in
        options. Online check-in is available from
        <strong>30 days up to 3 hours</strong> before the scheduled departure
        time if you have <strong>purchased a seat</strong> during your booking.
      </p>
      <p>
        In case you have not purchased any seats with your booking, check-in
        will become available <strong>only 24 hours</strong> before departure.
      </p>
      <ul>
        <li><a href="#">Check in online</a></li>
        <li>Print your boarding card</li>
        <li class="highlight">
          Present the printed boarding card at the gate with your travel
          documents no later than 30 minutes before the scheduled departure time
        </li>
        <li>
          If you hold non-EU travel documents, you need to present yourself at
          the check-in counter to have your documentation checked and your
          boarding card stamped
        </li>
        <li>
          If you have baggage to drop off, go to the baggage drop desk no later
          than 40 minutes prior to departure or according to the local rules as
          indicated in the below "CHECK-IN TIMES" section.
        </li>
      </ul>
      <div class="note">
        <p>
          <strong>Note:</strong> If you are travelling within the Schengen area
          you don't need to fill in the travel document details during the
          online check-in procedure, since you are not required to provide such
          details.
        </p>
      </div>
      <p>
        During the online check-in process you might be requested to provide
        visa details on certain routes. If no visa is required for your
        destination, just fill in the field with xxxxx characters.
      </p>
      <p>
        Children under 14 need to be accompanied and checked in online by a
        passenger older than 16.
      </p>
      <p>
        You can <a href="#">change your reservation</a> (except for the flight
        and the name) or purchase additional services even after the online
        check-in.
      </p>
    </div>

    <div class="form-container">
      <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Ticket Nr:</mat-label>
          <input matInput placeholder="Ticket" formControlName="ticketId" type="number" required [readonly]="isEditing" />
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Passager Name:</mat-label>
          <input matInput placeholder="Passager name" formControlName="passengerName" type="text" required />
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Document Type:</mat-label>
          <mat-select formControlName="idDocumentType" required>
            <mat-option *ngFor="let option of documentTypeOptions" [value]="option.value">{{ option.label }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Date Document:</mat-label>
          <input matInput placeholder="Document Date" formControlName="documentData" type="text" required />
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Email Pasager</mat-label>
          <input matInput placeholder="Email Pasager" formControlName="passengerEmail" type="text" required />
        </mat-form-field>
  
        <button  type="submit" [disabled]="!form.valid">Submit</button>
      </form>
    </div>
  </div>
</div>


<br>
 <div class="header" (click)="toggleContent('qr')">QR Check-In</div>
<div class="content" [ngClass]="{ show: isQRContentVisible }">
  <h1>Aici este Qr-ul.</h1>
  <div *ngIf="showQR">
    <div style="display: flex; align-items: center;">
      <qr-code [value]="qrData" size="200"></qr-code>
      <button (click)="generatePDF()">Generate PDF</button>

      <div id="pdfContent">
      <table style="margin-left: 20px;">
        <tr>
          <td><strong>Ticket Nr:</strong></td>
          <td>{{ form.value.ticketId }}</td>
        </tr>
        <tr>
          <td><strong>Passenger Name:</strong></td>
          <td>{{ form.value.passengerName }}</td>
        </tr>
        <tr>
          <td><strong>Document Type:</strong></td>
          <td>{{ getDocumentTypeLabel(form.value.idDocumentType) }}</td>
        </tr>
        <tr>
          <td><strong>Date Document:</strong></td>
          <td>{{ form.value.documentData }}</td>
        </tr>
        <tr>
          <td><strong>Email Pasager:</strong></td>
          <td>{{ form.value.passengerEmail }}</td>
        </tr>
        <tr>
          <td><strong>Flight ID:</strong></td>
          <td>{{ ticketData.flightId }}</td>
        </tr>
        <tr>
          <td><strong>User ID:</strong></td>
          <td>{{ ticketData.userId }}</td>
        </tr>
        <tr>
          <td><strong>Luggage:</strong></td>
          <td>{{ ticketData.luggage }}</td>
        </tr>
        <tr>
          <td><strong>Price:</strong></td>
          <td>{{ ticketData.price }}</td>
        </tr>
      </table>
      </div>
    </div>
  </div>
</div>

</div>
<p>
  <strong>Note:</strong> If you are travelling within the Schengen area
  you don't need to fill in the travel document details during the
  online check-in procedure, since you are not required to provide such
  details.
</p>