<div class="container">
  <img src="../../../assets/images/background-image.jpg" alt="background image" />
  <div class="overlay">
    <form [formGroup]="form">
      <div class="form-container">
        <!--Departing Airport selector-->
        <mat-form-field appearance="outline" class="custom-form-field">
          <mat-label>Departing Airport</mat-label>
          <mat-select formControlName="departingAirport" (selectionChange)="onInputChange($event, 'departingAirport')" required>
            <mat-option *ngFor="let airport of airports" [value]="airport.airportName">
              {{ airport.airportName }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('departingAirport')?.hasError('required')">
            Departing Airport is required.
          </mat-error>
        </mat-form-field>
      
        <!--Destination Airport selector-->
        <mat-form-field appearance="outline" class="custom-form-field">
          <mat-label>Destination Airport</mat-label>
          <mat-select formControlName="destinationAirport" (selectionChange)="onInputChange($event, 'destinationAirport')" required>
            <mat-option *ngFor="let airport of airports" [value]="airport.airportName">
              {{ airport.airportName }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('destinationAirport')?.hasError('required')">
            Destination Airport is required.
          </mat-error>
        </mat-form-field>
      
         <!--Departing time selector-->
        <mat-form-field appearance="outline" class="custom-form-field">
          <mat-label>Departing Time</mat-label>
          <input matInput [matDatepicker]="departingPicker" formControlName="departingTime" [matDatepickerFilter]="dateFilter" (dateChange)="onInputChange($event, 'departingTime')" required>
          <mat-datepicker-toggle matSuffix [for]="departingPicker"></mat-datepicker-toggle>
          <mat-datepicker #departingPicker></mat-datepicker>
          <mat-error *ngIf="form.get('departingTime')?.hasError('pastDate')">
            Departing Time cannot be in the past.
          </mat-error>
        </mat-form-field>
      
        <!--Return time selector
        <mat-form-field appearance="outline" class="custom-form-field">
          <mat-label>Return Time</mat-label>
          <input matInput [matDatepicker]="returnPicker" formControlName="returnTime" [matDatepickerFilter]="dateFilter">
          <mat-datepicker-toggle matSuffix [for]="returnPicker"></mat-datepicker-toggle>
          <mat-datepicker #returnPicker></mat-datepicker>
          <mat-error *ngIf="form.get('returnTime')?.hasError('invalidReturnDate')">
            Return Time must be after Departing Time.
          </mat-error>
          <mat-error *ngIf="form.get('returnTime')?.hasError('pastDate')">
            Return Time cannot be in the past.
          </mat-error>
        </mat-form-field>
        -->

        <!--Passengers selector-->
        <mat-form-field appearance="outline" class="custom-form-field">
          <mat-label>Passengers:</mat-label>
          <input matInput type="number" formControlName="passengers" [disabled]="true">
        </mat-form-field>
      </div>
    
      <button type="submit" [disabled]="form.invalid" (click)="onSubmit()">Search</button>
    </form>
  </div>

  <!-- Container pentru discounturi -->
  <div class="discounts-container">
    <div class="carousel">
      
      <div class="carousel-inner" [style.transform]="getTransform()">
        <div class="carousel-item" *ngFor="let discount of discounts; let i = index" [ngClass]="{'active': i === 0}">
          <div class="discount-item">
            <img  style ="height:300px"[src]="discount.discountDescription.includes('summer') ? '../../../assets/images/summer.jpg' : 
              discount.discountDescription.includes('winter') ? '../../../assets/images/winter.jpg' : 
              discount.discountDescription.includes('early bookings') ? '../../../assets/images/early-bookings.jpg' : 
              '../../../assets/images/default.jpg'" alt="Discount image">
            <div class="carousel-caption">
              <h3>{{ discount.discountName }}</h3>
              <p>{{ discount.discountDescription }}</p>
              <p>Discount: {{ discount.discountPercentage }}%</p>
            </div>
          </div>
        </div>
      </div>
      <br>
     
    </div>
     <button style ="width:40px" class="carousel-control-prev" (click)="prevSlide()">‹</button>
      <button  style ="width:40px" class="carousel-control-next" (click)="nextSlide()">›</button>
  </div>

  <app-footer></app-footer>
</div>

