.container {
  position: relative;
  text-align: center;
  color: white;
}

.container img {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.218);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}


.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: black;
  font-size: 20px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  appearance: none; /* Remove default dropdown arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 20px;
}

.form-group select {
  width: 200px;
  height: 40px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #673ab7;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  height: 50px;
  width: 100px;
  font-size: 20px;
}

button:hover {
  background-color: #c499e9;
}

.dropdown {
  width: 200px;
  height: 30px;
}

.discounts-container {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.discount-item {
  background-color: rgba(255, 255, 255, 0.798);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 350px; /* Set width and height to make items square */
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:black;
}

.discount-item h3 {
  margin-top: 0;
  font-size: 1.1em;
}

.discount-item p {
  margin: 5px 0;
}
