  <h1>Manage aircrafts</h1>
  <div>
    <div class="add-container">
      <button
      class="add-button"
      mat-raised-button
      routerLink="/admin/aircraft/create"
    ><mat-icon style="margin-left:2px; margin-right: 0;">add</mat-icon>Add new Aircraft
    </button>
    </div>

  <table mat-table matSort [dataSource]="aircraftData" class="mat-elevation-z8">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        
      </th>
      <td mat-cell *matCellDef="let row">
    
      </td>
    </ng-container>

    <ng-container matColumnDef="AircraftId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.aircraftId }}</td>
    </ng-container>

    <ng-container matColumnDef="registrationNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Registration number</th>
      <td mat-cell *matCellDef="let element">{{ element.registrationNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="maker">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Maker</th>
      <td mat-cell *matCellDef="let element">{{ element.maker }}</td>
    </ng-container>

    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Model</th>
      <td mat-cell *matCellDef="let element">{{ element.model }}</td>
    </ng-container>

    <ng-container matColumnDef="numberOfSeats">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Number of seats</th>
      <td mat-cell *matCellDef="let element">{{ element.numberOfSeats }}</td>
    </ng-container>

    <ng-container matColumnDef="autonomyInHours">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Autonomy in hours</th>
      <td mat-cell *matCellDef="let element">{{ element.autonomyInHours }}</td>
    </ng-container>

    <ng-container matColumnDef="maxCargo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Maximum cargo</th>
      <td mat-cell *matCellDef="let element">{{ element.maxCargo }}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <div class="action-buttons">
        <button class="edit-button" [routerLink]="['/admin/aircraft/create', element]">
          <mat-icon>edit</mat-icon>
      </button>
      <button class="delete-button" (click)="deleteAircraft(element.aircraftId)">
        <mat-icon>delete</mat-icon>
    </button>
  </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="aircraftColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: aircraftColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[25, 6, 10]" showFirstLastButtons></mat-paginator>
</div>
