<h1>Manage discounts</h1>
<div>
  <button class="navigation-button" mat-button routerLink="/admin/discount/create">Add new discount</button>

  <table mat-table matSort [dataSource]="discountData" class="mat-elevation-z8">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        
      </th>
      <td mat-cell *matCellDef="let row">
    
      </td>
    </ng-container>

    <ng-container matColumnDef="discountId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.discountId }}</td>
    </ng-container>

    <ng-container matColumnDef="discountName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Discount name</th>
      <td mat-cell *matCellDef="let element">{{ element.discountName }}</td>
    </ng-container>

    <ng-container matColumnDef="discountDescription">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Discount description</th>
      <td mat-cell *matCellDef="let element">{{ element.discountDescription }}</td>
    </ng-container>

    <ng-container matColumnDef="flightId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Flight number</th>
      <td mat-cell *matCellDef="let element">{{ element.flightId }}</td>
    </ng-container>

    <ng-container matColumnDef="discountPercentage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Discount percentage</th>
      <td mat-cell *matCellDef="let element">{{ element.discountPercentage }}</td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Starting at</th>
      <td mat-cell *matCellDef="let element">{{ element.startDate | date }}</td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ending at</th>
      <td mat-cell *matCellDef="let element">{{ element.endDate | date }}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <a style="color: blue;" [routerLink]="['/admin/discount/create', element.discountId]">Edit</a>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <a style="color: red" (click)="deleteDiscount(element.discountId)">Delete</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="discountColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: discountColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[3, 6, 9]" showFirstLastButtons></mat-paginator>
</div>
