<h1>Manage discounts</h1>
<div>
  <div class="add-container">
    <button
    class="add-button"
    mat-raised-button
    routerLink="/admin/discount/create"
  ><mat-icon style="margin-left:2px; margin-right: 0;">add</mat-icon>Add new Discount
  </button>
  </div>

  <table mat-table matSort [dataSource]="discountData" class="mat-elevation-z8">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        
      </th>
      <td mat-cell *matCellDef="let row">
    
      </td>
    </ng-container>

    <ng-container matColumnDef="discountId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.discountId }}</td>
    </ng-container>

    <ng-container matColumnDef="discountName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Discount name</th>
      <td mat-cell *matCellDef="let element">{{ element.discountName }}</td>
    </ng-container>

    <ng-container matColumnDef="discountDescription">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Discount description</th>
      <td mat-cell *matCellDef="let element">{{ element.discountDescription }}</td>
    </ng-container>

    <ng-container matColumnDef="flightId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Flight number</th>
      <td mat-cell *matCellDef="let element">{{ element.flightId }}</td>
    </ng-container>

    <ng-container matColumnDef="discountPercentage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Discount percentage</th>
      <td mat-cell *matCellDef="let element">{{ element.discountPercentage }}</td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Starting at</th>
      <td mat-cell *matCellDef="let element">{{ element.startDate | date }}</td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ending at</th>
      <td mat-cell *matCellDef="let element">{{ element.endDate | date }}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <div class="action-buttons">
        <button class="edit-button" [routerLink]="['/admin/discount/create', element.discountId]">
          <mat-icon>edit</mat-icon>
      </button>
      <button class="delete-button" (click)="deleteDiscount(element.discountId)">
        <mat-icon>delete</mat-icon>
    </button>
  </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="discountColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: discountColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[25, 6, 9]" showFirstLastButtons></mat-paginator>
</div>
